*.pyc
*.sqlite
*.orig
*.sqlite3
*.idea
.DS_Store
/static
/media
local_settings.py
initial_data.json
webapp/accounts
webapp/backend
webapp/cms
webapp/frontend
webapp/migrate
webapp/myformtags
webapp/news
webapp/redmapdb
celerybeat-schedule
venv/
var/
