{% extends "site_base.html" %}
{% load i18n thumbnail %}

{% block section_title %}
	<h1>National Resources</h1>
{% endblock %}

{% block body %}
	{% if survey and survey.enabled %}
		{{ survey.survey|safe }}
	{% endif %}
	<div class="row padt2" id="resources-index">
		{% for page in object_list %}
			<div class="span4 box">
				<header class="box-heading">
					<h4>{{ page.title }}</h4>
				</header>
				<a href="{% url cms_page page.slug %}">
					{% if page.thumbnail %}
						{% thumbnail page.thumbnail "270x180" crop="center" upscale="true" as im %}
							<img src="{{ MEDIA_URL }}{{ im }}">
						{% endthumbnail %}
					{% else %}
						<img src="{{ STATIC_URL }}reskin/images/placeholder.png" style="height:180px;">
					{% endif %}
				</a>
				<p class="arrow"><a href="{% url cms_page page.slug %}">View articles</a></p>
				<span class="paperclip-left"></span>
			</div>
		{% endfor %}
		
	</div>

{% endblock %}
