SECRET_KEY = "SUPER_SECRET_KEY_HERE"

# django_facebook settings
FACEBOOK_APP_ID = 'FACEBOOK_APP_ID_HERE'
FACEBOOK_APP_SECRET = 'FACEBOOK_APP_SECRET_HERE'
FACBOOK_REDMAP_NAMESPACE = 'FACBOOK_REDMAP_NAMESPACE_HERE'

# set
ADMINS = [
    ("NAME_HERE", "email@example.com"),
]

