{# Needs to pull app download URLs from settings #}

<section id="app">
	<h3 class="caps red"><strong>Download the app</strong></h3>

	<div>
		<a href="https://play.google.com/store/apps/details?id=au.com.ionata.redmap">
			<img src="{{ STATIC_URL }}reskin/images/app-android.png" alt="Android App on Google Play">
		</a>

		<a href="https://itunes.apple.com/au/app/redmap/id720634088?mt=8">
			<img src="{{ STATIC_URL }}reskin/images/app-ios.png" alt="Available on the App Store">
		</a>
	</div>
</section>