{% extends "site_base.html" %}
{% load i18n thumbnail %}

{% block section_title %}
	<h1>National Resources</h1>
{% endblock %}

{% block body_class %}resources{% endblock %}

{% block body %}

	<div>
	
		<div class="col col-640 margr2">
		
			<header id="title" style="overflow: visible">
				<h1>Fishing for Centuries: Indigenous Fishing</h1>

				<div>
					<div class="col col-right col-100">
						<div class="social">
							<div class="social-fb">
								<div
									class="fb-like"
									data-href="http://redmap.local:8000/article/fishing-for-centuries-indigenous-fishing/"
									data-send="false"
									data-layout="button_count"
									data-width="100"
									data-action="like"
									data-font="arial"
									data-show-faces="false"
								></div>
							</div>
							<div class="social-twitter">
								<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
						</div><!-- /.social -->
					</div>
					<div class="margr-120 entry-excerpt padt">
						<p class="red">Dr. Melissa Nursey-Bray, University of Adelaide</p>
						<p>Fishing has been an important aspect of traditional hunting by indigenous Australians for centuries.&nbsp;</p>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</header>
			
			<div class="box col col-220">
				<div class="thumbnail">
					<p><a class="lightbox-image" title="A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation)." href="http://placehold.it/640x480"><img src="http://placehold.it/200x200"></a></p>
					<p><a class="lightbox-image" href="http://placehold.it/640x480">View larger image</a></p>
					<p><cite>A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation).</cite></p>
				</div>
				<span class="paperclip-left"></span>
			</div>
			
			<div class="col col-400 margl2">
				
				<p>Indigenous people have been fishing Australian waters for centuries. They
				harvest a wide diversity of species, from animals such as the green turtle
				and dugong in northern waters, to various fish, and species such as abalone,
				rock lobster and beche-de mer. A national survey in 2000 (DAFF 2001)
				highlighted that about 37,000 Indigenous people fished at least once in a
				12 month period. The study concluded that over 3.3 million aquatic animals
				were harvested from the waters of northern Australia alone and included
				fi nfish, shellfish, small baitfish, mullet, catfish, sea perch/snappers, bream,
				barramundi, mussels, cherabin, other bivalves, prawns, oysters and mud
				crabs (DAFF 2001). This study also showed that Indigenous people harvest
				more than 50% of their take from inshore waters. Core harvesting methods
				used include line fishing (53% of the time), hand collection (26%), nets (12%)
				and spears (9%).</p>

				<p>Spear fishing is still very current as a harvesting technique and involves using
				a multi prong fishing implement, which the fisher will use while wading into
				shallow water. Fish will be caught as the fisher throws and stabs the water just
				ahead of the fish (so as to adjust for refraction). While prohibited today, fish
				traps were also another commonly used technique for taking marine species.
				Such fish traps were created by the organisation of rocks to temporary seal
				fish in and allow the fisher enough time to catch them. Many examples of
				previous fish traps are seen today, such as this one in Hinchinbrook, north
				Queensland, and are now cultural heritage sites. Many Aboriginal people also
				used toxins and poisons to catch and then either stun or kill the fish in situ.
				Poisons would be extracted from plants, and then put into the site where fish
				would be located.</p>
		
			</div>
			
			<div class="clearfix"></div>
			
			<div class="box overflow thumbnails">
				
				<div class="col col-210">				
					<div class="thumbnail">
						<p><a class="lightbox-image" title="A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation)." href="http://placehold.it/640x480"><img src="http://placehold.it/200x200"></a></p>
						<p><a class="lightbox-image" href="http://placehold.it/640x480">View larger image</a></p>
						<p><cite>A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation).</cite></p>
					</div>
				</div>
				
				<div class="col col-210">				
					<div class="thumbnail">
						<p><a class="lightbox-image" title="A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation)." href="http://placehold.it/640x480"><img src="http://placehold.it/200x200"></a></p>
						<p><a class="lightbox-image" href="http://placehold.it/640x480">View larger image</a></p>
						<p><cite>A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation).</cite></p>
					</div>
				</div>
				
				<div class="col col-210">				
					<div class="thumbnail">
						<p><a class="lightbox-image" title="A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation)." href="http://placehold.it/640x480"><img src="http://placehold.it/200x200"></a></p>
						<p><a class="lightbox-image" href="http://placehold.it/640x480">View larger image</a></p>
						<p><cite>A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation).</cite></p>
					</div>
				</div>
				
				<div class="col col-210">			
					<div class="thumbnail">
						<p><a class="lightbox-image" title="A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation)." href="http://placehold.it/640x480"><img src="http://placehold.it/200x200"></a></p>
						<p><a class="lightbox-image" href="http://placehold.it/640x480">View larger image</a></p>
						<p><cite>A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation).</cite></p>
					</div>
				</div>
				
				<div class="col col-210">
					<div class="thumbnail">
						<p><a class="lightbox-image" title="A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation)." href="http://placehold.it/640x480"><img src="http://placehold.it/200x200"></a></p>
						<p><a class="lightbox-image" href="http://placehold.it/640x480">View larger image</a></p>
						<p><cite>A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation).</cite></p>
					</div>
				</div>
				
				<div class="col col-210">				
					<div class="thumbnail">
						<p><a class="lightbox-image" title="A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation)." href="http://placehold.it/640x480"><img src="http://placehold.it/200x200"></a></p>
						<p><a class="lightbox-image" href="http://placehold.it/640x480">View larger image</a></p>
						<p><cite>A fish trap, Hinchinbrook region, North Queensland (Photo courtesy of Girringun Aboriginal Corporation).</cite></p>
					</div>
				</div>
				
			</div><!-- /.box -->
			
			<div class="col col-right col-400 padt2">
				
				<div>
					<h3 class="resources-heading">References</h3>
					
					<p>Department of Agriculture, Fisheries and Forestry, 2001 <a href="#">http://daff.gov.au/fisheries/recreational</a></p>
					<p>Nursey-Bray, M 2000, Usage of Marine Resources by the Guugu Yimmithirr The History of Fishing and Gathering, James Cook University publication, Cairns.</p>
				</div>
				
			</div><!-- /.col -->
		
		</div>
		
		<div class="col col-260 margl2 padt2 sidebar-up" id="sidebar">
		
			<div class="box pada2">								
				<ul class="page-list">
					<li><a href="/resources/marine-systems/" >
						Marine Systems
					</a></li>

					<li><a href="/resources/changing-seas/" >
						Changing Seas
					</a></li>

					<li><a href="/resources/diving/">
						Diving
					</a></li>

					<li><a href="/resources/fishing/" >
						Fishing
					</a></li>

					<li><a href="/resources/media/" >
						Media
					</a></li>

					<li><a href="/resources/newsletter/" >
						Newsletter
					</a></li>

					<li><a href="/resources/videos/" >
						Videos
					</a></li>

					<li><a href="/resources/redmap-science--data/" >
						Redmap science &amp; data
					</a></li>
				</ul>
				
				<span class="paperclip-right-angle"></span>
			</div>
		</div>
		
	</div>

{% endblock %}
