{% extends "site_base.html" %}
{% load i18n thumbnail %}

{% block section_title %}
	<h1>National Resources</h1>
{% endblock %}

{% block body_class %}resources{% endblock %}

{% block body %}

	<div>
	
		<div class="col col-640 margr2">
		
			<header id="title">
				<h1>Subcategory</h1>
			</header>
			
			<div class="padt">
			
				<article class="box pada margb2">
					<div class="media overflow">
						<a class="pull-left" href="#">
							<img class="media-object" src="http://placehold.it/100x100">
						</a>
						<div class="media-body">
							<h3 class="media-heading"><a href="#">Article 1</a></h3>
							<p>Nat volest, qui blabore rferspi enimolo doluptas sendellaut perferf erchiciae nihiliae dessedi
							scimpossi utectorio quunt laborrum volesti dolo berferum dolum voluptam et repuda nis illab
							ium cum nestior rest aut aspelligent quat.</p>
						</div>
					</div>
					<span class="paperclip-left"></span>
				</article>
				
				<article class="box pada margb2">
					<div class="media overflow">
						<a class="pull-left" href="#">
							<img class="media-object" src="http://placehold.it/100x100">
						</a>
						<div class="media-body">
							<h3 class="media-heading"><a href="#">Article 1</a></h3>
							<p>Nat volest, qui blabore rferspi enimolo doluptas sendellaut perferf erchiciae nihiliae dessedi
							scimpossi utectorio quunt laborrum volesti dolo berferum dolum voluptam et repuda nis illab
							ium cum nestior rest aut aspelligent quat.</p>
						</div>
					</div>
					<span class="paperclip-left"></span>
				</article>
				
				<article class="box pada margb2">
					<div class="media overflow">
						<a class="pull-left" href="#">
							<img class="media-object" src="http://placehold.it/100x100">
						</a>
						<div class="media-body">
							<h3 class="media-heading"><a href="#">Article 1</a></h3>
							<p>Nat volest, qui blabore rferspi enimolo doluptas sendellaut perferf erchiciae nihiliae dessedi
							scimpossi utectorio quunt laborrum volesti dolo berferum dolum voluptam et repuda nis illab
							ium cum nestior rest aut aspelligent quat.</p>
						</div>
					</div>
					<span class="paperclip-left"></span>
				</article>
				
			</div>
			
		</div>
		
		<div class="col col-260 margl2 padt2 sidebar-up" id="sidebar">
			<div class="box pada2">								
				<ul class="page-list">
					<li><a href="/resources/marine-systems/" >
						Marine Systems
					</a></li>

					<li><a href="/resources/changing-seas/" >
						Changing Seas
					</a></li>

					<li><a href="/resources/diving/">
						Diving
					</a></li>

					<li>
						<a href="/resources/fishing/" class="active">Fishing</a>
						<ul>
							<li><a href="#">Commercial Fishing</a></li>
							<li><a href="#">Recreational Fishing</a></li>
						</ul>
					</li>

					<li><a href="/resources/media/">
						Media
					</a></li>

					<li><a href="/resources/newsletter/">
						Newsletter
					</a></li>

					<li><a href="/resources/videos/">
						Videos
					</a></li>

					<li><a href="/resources/redmap-science--data/">
						Redmap science &amp; data
					</a></li>
				</ul>
				
				<span class="paperclip-right-angle"></span>
			</div>
		</div>
		
	</div>

{% endblock %}