{% extends "site_base.html" %}
{% load i18n thumbnail %}

{% block section_title %}
	<h1>National Resources</h1>
{% endblock %}

{% block body_class %}resources{% endblock %}

{% block body %}

	<div>
	
		<div class="col col-640 margr2">
		
			<header id="title">
				<h1>Category</h1>
			</header>

			<div class="row padt2" id="resources-index">
				
				<div class="span4 box">
					<header class="box-heading  box-heading-light box-heading  box-heading-light-light">
						<h4>Marine systems</h4>
					</header>
					<a href="#"><img src="http://placehold.it/270x180" width="270" height="180"></a>
					<p class="arrow"><a href="#">View articles</a></p>
					<span class="paperclip-left"></span>
				</div>
				
				<div class="span4 box">
					<header class="box-heading  box-heading-light">
						<h4>Changing seas</h4>
					</header>
					<a href="#"><img src="http://placehold.it/270x180" width="270" height="180"></a>
					<p class="arrow"><a href="#">View articles</a></p>
					<span class="paperclip-left"></span>
				</div>
				
				<div class="span4 box">
					<header class="box-heading  box-heading-light">
						<h4>Diving</h4>
					</header>
					<a href="#"><img src="http://placehold.it/270x180" width="270" height="180"></a>
					<p class="arrow"><a href="#">View articles</a></p>
					<span class="paperclip-left"></span>
				</div>
				
				<div class="span4 box">
					<header class="box-heading  box-heading-light">
						<h4>Fishing</h4>
					</header>
					<a href="#"><img src="http://placehold.it/270x180" width="270" height="180"></a>
					<p class="arrow"><a href="#">View articles</a></p>
					<span class="paperclip-left"></span>
				</div>
				
				<div class="span4 box">
					<header class="box-heading  box-heading-light">
						<h4>Science</h4>
					</header>
					<a href="#"><img src="http://placehold.it/270x180" width="270" height="180"></a>
					<p class="arrow"><a href="#">View articles</a></p>
					<span class="paperclip-left"></span>
				</div>
				
				<div class="span4 box">
					<header class="box-heading  box-heading-light">
						<h4>Newsletter</h4>
					</header>
					<a href="#"><img src="http://placehold.it/270x180" width="270" height="180"></a>
					<p class="arrow"><a href="#">View articles</a></p>
					<span class="paperclip-left"></span>
				</div>
				
				<div class="span4 box">
					<header class="box-heading  box-heading-light">
						<h4>Videos</h4>
					</header>
					<a href="#"><img src="http://placehold.it/270x180" width="270" height="180"></a>
					<p class="arrow"><a href="#">View articles</a></p>
					<span class="paperclip-left"></span>
				</div>
				
			</div>
		</div>
		
		<div class="col col-260 margl2 padt2 sidebar-up" id="sidebar">
			<div class="box pada2">								
				<ul class="page-list">
					<li><a href="/resources/marine-systems/" >
						Marine Systems
					</a></li>

					<li><a href="/resources/changing-seas/" >
						Changing Seas
					</a></li>

					<li><a href="/resources/diving/">
						Diving
					</a></li>

					<li><a href="/resources/fishing/" >
						Fishing
					</a></li>

					<li><a href="/resources/media/" >
						Media
					</a></li>

					<li><a href="/resources/newsletter/" >
						Newsletter
					</a></li>

					<li><a href="/resources/videos/" >
						Videos
					</a></li>

					<li><a href="/resources/redmap-science--data/" >
						Redmap science &amp; data
					</a></li>
				</ul>
				
				<span class="paperclip-right-angle"></span>
			</div>
		</div>
		
	</div>

{% endblock %}